<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@customer, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.text_field :username, class: 'form-control', placeholder: 'name' %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'email' %>
      <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'confirm' %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div